<div
  class="mediz-navigation-bar-wrap mediz-style-solid mediz-sticky-navigation mediz-sticky-navigation-height mediz-style-left mediz-style-fixed">
  <div class="mediz-navigation-background"></div>
  <div class="mediz-navigation-container clearfix mediz-container">
    <div class="mediz-navigation mediz-item-pdlr clearfix">
      <div class="mediz-main-menu" id="mediz-main-menu">
        <ul id="menu-main-navigation-1" class="sf-menu">
          <li
            class="menu-item <% if (pageSlug==='home') { %>current-menu-item current_page_item<% } %> menu-item-home page_item page-item-7684 mediz-normal-menu">
            <a href="/">Home</a>
          </li>
          <li
            class="menu-item <% if (pageSlug==='start-here') { %>current-menu-item current_page_item<% } %> menu-item-home page_item page-item-7684 mediz-mega-menu ">
            <a href="#" class="sf-with-ul-pre">N.O.H Enugu <i class="fa fa-angle-down"></i></a>
            <div class="sf-mega sf-mega-full"
              style=" background-image: url('upload/mega-nav-bg.jpg');  background-position: top left;  background-repeat: no-repeat; ">
              <ul class="sub-menu">
                <li class="menu-item" data-size="15">
                  <div class="mediz-mega-menu-section-content"><span class="gdlr-core-space-shortcode"
                      style="margin-top: 140px ;"></span>
                    <div style="display: block; margin-left: 15px;">
                      <span class="gdlr-core-space-shortcode" style="margin-top: 10px ;"></span>
                      <span style="font-size: 14px;">
                        <strong>Dr. Emmanuel Iyidiobi (MD)</strong>, Consultant Orthopaedic & Trauma surgeon at N.O.H
                        Enugu.
                      </span>
                    </div>
                  </div>
                </li>
                <li class="menu-item menu-item-has-children" data-size="15">
                  <a href="#" class="sf-with-ul-pre">Departments</a>
                  <ul class="sub-menu">
                    <% locals.departmentPages.forEach(departmentPage=> { %>
                      <li class="menu-item">
                        <a href="/pages/<%= departmentPage.slug %>">
                          <%= departmentPage.title %>
                        </a>
                      </li>
                      <% }) %>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children" data-size="15">
                  <a href="#" class="sf-with-ul-pre">Doctors</a>
                  <ul class="sub-menu">
                    <% locals.doctorPages.forEach(doctorPage=> { %>
                      <li class="menu-item">
                        <a href="/pages/<%= doctorPage.slug %>">
                          <%= doctorPage.title %>
                        </a>
                      </li>
                      <% }) %>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children" data-size="15">
                  <a href="#" class="sf-with-ul-pre">Services</a>
                  <ul class="sub-menu">
                    <% locals.servicePages.forEach(servicePage=> { %>
                      <li class="menu-item">
                        <a href="/pages/<%= servicePage.slug %>">
                          <%= servicePage.title %>
                        </a>
                      </li>
                      <% }) %>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <% locals.allPages.forEach(async page=> { const hasChildren =
            locals.subPages[page.slug].length; %>
            <li class="menu-item <% if (hasChildren) { %>menu-item-has-children<% } %> mediz-normal-menu">
              <a href="/pages/<%= page.slug %>" class="<% if (hasChildren) { %>sf-with-ul-pre<% } %>">
                <%= page.title %>
                  <% if (hasChildren) { %><i class="fa fa-angle-down"></i>
                    <% } %>
              </a>
              <% if (hasChildren) { %>
                <ul class="sub-menu">
                  <% locals.subPages[page.slug].forEach(subPage=> { %>
                    <li class="menu-item">
                      <a href="/pages/<%= subPage.slug %>">
                        <%= subPage.title %>
                      </a>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
            </li>
            <% }) %>
              <div class="mediz-navigation-slide-bar mediz-navigation-slide-bar-style-2" data-size-offset="0"
                id="mediz-navigation-slide-bar"></div>
      </div>
      <div class="mediz-main-menu-right-wrap clearfix">
        <div class="mediz-main-menu-search" id="mediz-top-search">
          <i class="icon-magnifier"></i>
        </div>
        <div class="mediz-top-search-wrap">
          <div class="mediz-top-search-close"></div>

          <div class="mediz-top-search-row">
            <div class="mediz-top-search-cell">
              <form role="search" method="get" class="search-form" action="/">
                <input type="text" class="search-field mediz-title-font" placeholder="Search..." value="" name="s" />
                <div class="mediz-top-search-submit">
                  <i class="fa fa-search"></i>
                </div>
                <input type="submit" class="search-submit" value="Search" />
                <div class="mediz-top-search-close">
                  <i class="icon_close"></i>
                </div>
              </form>
            </div>
          </div>
        </div>
        <a class="mediz-main-menu-right-button mediz-button-1 mediz-style-round" href="/pages/contact-us"
          target="_self">Contact Now</a>
          <a  href="https://login.remita.net/remita/external/NOHENUGU/collector/payments.reg"
          target="_blank">
        <img src="/images/remitta.png" alt="Remitta Pay" style="width: 50px; height: 50px; margin: 0 5px; float: inline-end;" />
        </a>
      </div>
    </div>
  </div>
</div>