<div class="mediz-top-bar">
  <div class="mediz-top-bar-background"></div>
  <div class="mediz-top-bar-container mediz-container">
    <div class="mediz-top-bar-container-inner clearfix">
      <div class="mediz-top-bar-left mediz-item-pdlr">
        <i class="icon-clock" style="
            font-size: 18px;
            color: #252222;
            margin-right: 10px;
            font-weight: bolder;
          "></i><strong style="color: #252222">
          <%= locals.greeting %>, Guest!
        </strong>
        <i class="icon-phone" style="
            font-size: 20px;
            color: #17449e;
            margin-left: 25px;
            margin-right: 10px;
          "></i>
        <%= locals.settings.sitePhone %><i class="icon-envelope" style="
            font-size: 19px;
            color: #17449e;
            margin-left: 25px;
            margin-right: 10px;
          "></i><a href="#"><span class="">
              <%= locals.settings.siteEmail %>
            </span></a>
      </div>
      <div class="mediz-top-bar-right mediz-item-pdlr">
        <div class="mediz-top-bar-right-social">
          <a href="<%= locals.settings.siteFacebook %>" target="_blank" class="mediz-top-bar-social-icon"
            title="facebook"><i class="fa fa-facebook"></i></a>
          <a href="<%= locals.settings.siteLinkedin %>" target="_blank" class="mediz-top-bar-social-icon"
            title="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="<%= locals.settings.sitePinterest %>" target="_blank" class="mediz-top-bar-social-icon"
            title="pinterest"><i class="fa fa-pinterest-p"></i></a>
          <a href="<%= locals.settings.siteTwitter %>" target="_blank" class="mediz-top-bar-social-icon"
            title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="<%= locals.settings.twitterInstagram %>" target="_blank" class="mediz-top-bar-social-icon"
            title="instagram"><i class="fa fa-instagram"></i></a>
          <a href="#">|</a>
          <a href="https://webmail.nohenugu.org.ng/" target="_blank" class="mediz-top-bar-social-icon"
            title="instagram"><i class="fa fa-envelope-o"></i> Check Mail</a>
        </div>
      </div>
    </div>
  </div>
</div>