<%- include('./partials/header') %>

<div class="mediz-page-wrapper" id="mediz-page-wrapper">
  <div class="mediz-blog-title-wrap mediz-style-custom mediz-feature-image">
    <div class="mediz-header-transparent-substitute"></div>
    <div class="mediz-blog-title-overlay" style="opacity: 0.01"></div>
    <div class="mediz-blog-title-container mediz-container">
      <div class="mediz-blog-title-content mediz-item-pdlr">
        <header
          class="mediz-single-article-head mediz-single-blog-title-style-4 clearfix"
        >
          <div class="mediz-single-article-head-right">
            <h1 class="mediz-single-article-title"><%= title %></h1>
            <div class="mediz-blog-info-wrapper">
              <div
                class="mediz-blog-info mediz-blog-info-font mediz-blog-info-author vcard author post-author"
              >
                <span class="mediz-blog-info-sep">•</span
                ><span class="mediz-head"
                  ><i class="icon_documents_alt"></i></span
                ><span class="fn"
                  ><a href="#" title="Posts by John Smith" rel="author"
                    >Home</a
                  ></span
                >
              </div>
              <div
                class="mediz-blog-info mediz-blog-info-font mediz-blog-info-category"
              >
                <span class="mediz-blog-info-sep">•</span
                ><span class="mediz-head"><i class="icon_folder-alt"></i></span
                ><a href="#" rel="tag"><%= pageInfo.slug %></a>
              </div>
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
  <div class="mediz-breadcrumbs">
    <div class="mediz-breadcrumbs-container mediz-container">
      <div class="mediz-breadcrumbs-item mediz-item-pdlr">
        <!-- Breadcrumb NavXT 6.4.0 -->
        <span property="itemListElement" typeof="ListItem"
          ><a
            property="item"
            typeof="WebPage"
            title="Go to Mediz - Hospital."
            href="/"
            class="home"
            ><span property="name">Home</span></a
          >
          <meta property="position" content="1" />
        </span>
        &gt;
        <span property="itemListElement" typeof="ListItem"
          ><a
            property="item"
            typeof="WebPage"
            title="Go to the Blog category archives."
            href="#"
            class="taxonomy category"
            ><span property="name"><%= pageInfo.slug %></span></a
          >
          <meta property="position" content="2" />
        </span>
        &gt;
        <span property="itemListElement" typeof="ListItem"
          ><span property="name"><%= pageInfo.title %></span>
          <meta property="position" content="3" />
        </span>
      </div>
    </div>
  </div>
  <div
    class="mediz-content-container mediz-container gdlr-core-sticky-sidebar gdlr-core-js"
  >
    <div
      class="mediz-sidebar-wrap clearfix mediz-line-height-0 mediz-sidebar-style-right"
    >
      <div class="mediz-sidebar-center mediz-column-40 mediz-line-height">
        <div class="mediz-content-wrap mediz-item-pdlr clearfix">
          <div class="mediz-content-area">
            <%- pageInfo.content %>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div
        class="mediz-sidebar-right mediz-column-20 mediz-line-height mediz-line-height"
      >
        <div class="mediz-sidebar-area mediz-item-pdlr">
          <div
            id="gdlr-core-recent-post-widget-1"
            class="widget widget_gdlr-core-recent-post-widget mediz-widget"
          >
            <h3 class="mediz-widget-title">Recently Published Pages</h3>
            <span class="clear"></span>
            <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-1">
              <div class="gdlr-core-recent-post-widget clearfix">
                <div
                  class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image"
                >
                  <img
                    src="upload/shutterstock_556980217-150x150.jpg"
                    alt=""
                    width="150"
                    height="150"
                    title="shutterstock_556980217"
                  />
                </div>
                <div class="gdlr-core-recent-post-widget-content">
                  <div class="gdlr-core-recent-post-widget-title">
                    <a href="#">Using anthrax to fight cancer effectively</a>
                  </div>
                  <div class="gdlr-core-recent-post-widget-info">
                    <span
                      class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"
                      ><span class="gdlr-core-head"
                        ><i class="icon_clock_alt"></i></span
                      ><a href="#">February 28, 2019</a></span
                    ><span
                      class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"
                      ><span class="gdlr-core-head"
                        ><i class="icon_documents_alt"></i></span
                      ><a href="#" title="Posts by John Smith" rel="author"
                        >John Smith</a
                      ></span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
