<div class="gdlr-core-pbf-wrapper" style="padding: 0px 0px 0px 0px">
    <div class="gdlr-core-pbf-background-wrap" style="background-color: #17449e"></div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-revolution-slider-item gdlr-core-item-pdlr gdlr-core-item-pdb"
                    style="padding-bottom: 0px">
                    <!-- START Home Hospital REVOLUTION SLIDER 6.1.5 -->
                    <p class="rs-p-wp-fix"></p>
                    <rs-module-wrap id="rev_slider_2_1_wrapper" data-source="gallery" style="
                background: transparent;
                padding: 0;
                margin: 0px auto;
                margin-top: 0;
                margin-bottom: 0;
              ">
                        <rs-module id="rev_slider_2_1" style="display: none" data-version="6.1.5">
                            <rs-slides>
                                <rs-slide data-key="rs-3" data-title="Slide" data-thumb="#"
                                    data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                                    <img src="/sliders/cmd.jpg" title="slider-hospital-1-1" width="1800" height="900"
                                        class="rev-slidebg" data-no-retina />
                                    <!---->
                                    <rs-layer id="slider-2-slide-3-layer-3" data-type="text" data-rsp_ch="on"
                                        data-xy="xo:15px,15px,15px,47px;yo:162px,162px,162px,107px;"
                                        data-text="w:normal;s:125,125,125,61;l:125,125,125,46;fw:600;a:left,left,left,center;"
                                        data-frame_1="st:250;sR:250;" data-frame_999="o:0;st:w;sR:8450;"
                                        style="z-index: 11; font-family: Poppins">N.O.H Enugu.
                                    </rs-layer>
                                    <!-- -->
                                    <rs-layer id="slider-2-slide-3-layer-5" data-type="text" data-rsp_ch="on"
                                        data-xy="xo:22px,22px,22px,50px;yo:359px,359px,359px,211px;"
                                        data-text="w:normal;s:17;l:28;fw:300;"
                                        data-dim="w:548px,548px,548px,377px;h:84px,84px,84px,auto;"
                                        data-frame_1="st:770;sR:770;" data-frame_999="o:0;st:w;sR:7930;"
                                        style="z-index: 13; font-family: Poppins">Welcome to National
                                        Orthopaedic Hospital, Enugu, the
                                        known healthcare organization that combines effective,
                                        and proven research.
                                        <br />
                                    </rs-layer>
                                    <!-- -->
                                    <rs-layer id="slider-2-slide-3-layer-6" data-type="text" data-color="#bbd1ff"
                                        data-rsp_ch="on" data-xy="xo:21px,21px,21px,50px;yo:297px,297px,297px,162px;"
                                        data-text="w:normal;s:34,34,34,24;l:34;fw:300;a:left,left,left,center;"
                                        data-frame_1="st:510;sR:510;" data-frame_999="o:0;st:w;sR:8190;"
                                        style="z-index: 12; font-family: Poppins">National Orthopaedic
                                        Hospital, Enugu
                                    </rs-layer>
                                    <!-- -->
                                    <rs-layer id="slider-2-slide-3-layer-8" class="rev-btn" data-type="button"
                                        data-rsp_ch="on" data-xy="xo:23px,23px,23px,50px;yo:447px,447px,447px,319px;"
                                        data-text="w:normal;s:13;l:13;ls:1px;fw:700;" data-dim="minh:0px,0px,0px,none;"
                                        data-padding="t:20,20,20,17;r:30,30,30,25;b:23,23,23,20;l:30,30,30,25;"
                                        data-border="bor:36px,36px,36px,36px;" data-frame_1="st:1050;sR:1050;"
                                        data-frame_999="o:0;st:w;sR:7650;"
                                        data-frame_hover="c:#d8eaff;bgc:#fff;bor:36px,36px,36px,36px;" style="
                        z-index: 15;
                        background: linear-gradient(
                          90deg,
                          rgba(20, 65, 156, 1) 0%,
                          rgba(45, 105, 196, 1) 100%
                        );
                        font-family: Poppins;
                        text-transform: uppercase;
                      "><a href="/pages/contact-us" style="color: #ffffff">Contact Now</a>
                                    </rs-layer>
                                    <!-- -->
                                    <rs-layer id="slider-2-slide-3-layer-9" data-type="shape" data-rsp_ch="on"
                                        data-xy="xo:225px,225px,225px,83px;yo:472px,472px,472px,176px;"
                                        data-text="w:normal;s:20,20,20,7;l:0,0,0,9;"
                                        data-dim="w:99px,99px,99px,37px;h:2px,2px,2px,1px;" data-vbility="t,t,t,f"
                                        data-frame_1="st:1350;sR:1350;" data-frame_999="o:0;st:w;sR:7350;"
                                        style="z-index: 16; background-color: #ffffff">
                                    </rs-layer>
                                    <!-- -->
                                </rs-slide>
                                <rs-slide data-key="rs-5" data-title="Slide" data-thumb="#"
                                    data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                                    <img src="/sliders/hospital.jpg" title="slider-hospital-2-1-n" width="1800"
                                        height="900" class="rev-slidebg" data-no-retina />
                                    <!---->
                                    <rs-layer id="slider-2-slide-5-layer-3" data-type="text" data-rsp_ch="on"
                                        data-xy="x:l,l,l,c;xo:607px,607px,607px,0;yo:164px,164px,164px,109px;"
                                        data-text="w:normal;s:71,71,71,41;l:125,125,125,46;fw:700;a:left,left,left,center;"
                                        data-frame_1="st:250;sR:250;" data-frame_999="o:0;st:w;sR:8450;"
                                        style="z-index: 11; font-family: Poppins">100,000+ Patients
                                    </rs-layer>
                                    <!-- -->
                                    <rs-layer id="slider-2-slide-5-layer-5" data-type="text" data-rsp_ch="on"
                                        data-xy="x:l,l,l,c;xo:614px,614px,614px,0;yo:348px,348px,348px,215px;"
                                        data-text="w:normal;s:17;l:28;fw:300;a:left,left,left,center;"
                                        data-dim="w:548px,548px,548px,358px;h:84px,84px,84px,auto;"
                                        data-frame_1="st:770;sR:770;" data-frame_999="o:0;st:w;sR:7930;"
                                        style="z-index: 13; font-family: Poppins">National Orthopaedic
                                        Hospital, Enugu is a federal
                                        government of Nigeria speciality hospital located in
                                        Enugu, Enugu State, Nigeria.
                                        <br />
                                    </rs-layer>
                                    <!-- -->
                                    <rs-layer id="slider-2-slide-5-layer-6" data-type="text" data-color="#bbd1ff"
                                        data-rsp_ch="on"
                                        data-xy="x:l,l,l,c;xo:613px,613px,613px,0;yo:281px,281px,281px,162px;"
                                        data-text="w:normal;s:34,34,34,23;l:34;fw:300;a:left,left,left,center;"
                                        data-frame_1="st:510;sR:510;" data-frame_999="o:0;st:w;sR:8190;"
                                        style="z-index: 12; font-family: Poppins">Trust Federal, Trust in
                                        our hospital...
                                    </rs-layer>
                                    <!-- -->
                                    <rs-layer id="slider-2-slide-5-layer-8" class="rev-btn" data-type="button"
                                        data-rsp_ch="on"
                                        data-xy="x:l,l,l,c;xo:613px,613px,613px,0;yo:438px,438px,438px,327px;"
                                        data-text="w:normal;s:13;l:13;ls:1px;fw:700;" data-dim="minh:0px,0px,0px,none;"
                                        data-padding="t:20,20,20,17;r:30,30,30,25;b:23,23,23,20;l:30,30,30,25;"
                                        data-border="bor:36px,36px,36px,36px;" data-frame_1="st:1050;sR:1050;"
                                        data-frame_999="o:0;st:w;sR:7650;"
                                        data-frame_hover="c:#d8eaff;bgc:#fff;bor:36px,36px,36px,36px;" style="
                        z-index: 15;
                        background: linear-gradient(
                          90deg,
                          rgba(20, 65, 156, 1) 0%,
                          rgba(45, 105, 196, 1) 100%
                        );
                        font-family: Poppins;
                        text-transform: uppercase;
                      ">Contact Now
                                    </rs-layer>
                                    <!-- -->
                                    <rs-layer id="slider-2-slide-5-layer-9" data-type="shape" data-rsp_ch="on"
                                        data-xy="xo:807px,807px,807px,302px;yo:465px,465px,465px,173px;"
                                        data-text="w:normal;s:20,20,20,7;l:0,0,0,9;"
                                        data-dim="w:99px,99px,99px,37px;h:2px,2px,2px,1px;" data-vbility="t,t,t,f"
                                        data-frame_1="st:1350;sR:1350;" data-frame_999="o:0;st:w;sR:7350;"
                                        style="z-index: 16; background-color: #ffffff">
                                    </rs-layer>
                                    <!-- -->
                                </rs-slide>
                            </rs-slides>
                            <rs-progress class="rs-bottom" style="visibility: hidden !important"></rs-progress>
                        </rs-module>
                    </rs-module-wrap>
                    <!-- END REVOLUTION SLIDER -->
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./home/SlideInfoBox.ejs') %>
    <%- include('./home/CMDsBox.ejs') %>
        <%- include('./home/SonBox.ejs') %>
        <!-- <%- include('./home/ServicesBox.ejs') %> -->
        <%- include('./home/IntroVideo.ejs') %>
            <%- include('./home/AppointmentBox.ejs') %>
                <%- include('./home/ValueBox.ejs') %>
                    <%- include('./home/WorkWithUs.ejs') %>
                        <%- include('./home/OurDoctors.ejs') %>
                            <%- include('./home/SmileTrain.ejs') %>